.wraper{
  height: calc(100vh - 36px);
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  width: 500px;
  display: flex;
  flex-direction: column;
}
mat-form-field{
  margin-top: 15px;
}
button{
  margin: 10px 10px 0 0;
}
h2{
  color: #673ab7;
}
